[submodule "Fallback/lib/forge-std"]
	path = Fallback/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Fallout/lib/forge-std"]
	path = Fallout/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Telephone/lib/forge-std"]
	path = Telephone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Token/lib/forge-std"]
	path = Token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
